<h2>All</h2>

<div class='channels'>
  <% if @channels.empty? %> 
    <div class="message">No <%= object_type %> channels. Create a new one or <a href="/">See all channels</a> </div>
  <% end %>
  <%= render @channels %>
</div>

<h2>My </h2>
<div class='channels'>

  <% if @my_channels.empty? %> 
    <div class="message">No <%= object_type %> channels. Create a new one or <a href="/">See all channels</a> </div>
  <% end %>
  <%= render @my_channels %>
</div>

<% if current_user %>
<div class='create-channel'>
  <h2>Create </h2>
  <%= form_with(model: @channel, local: true) do |form| %>
    <% if @channel.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@channel.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
          <% @channel.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>


    <div class="field">
      <%= form.label :description %>
      <%= form.text_field :description %>
    </div>

    <% if object_type %>
      <%= form.hidden_field :object_type, :value => object_type%>
    <% else %>
      <div class="field">
        <%= form.label :object_type %>
        <%= form.text_field :object_type %>
      </div>
    <% end %>


    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
<% else %>
  <div class="message"><a href="/sign_in">Sign in</a> to create a new channel</a> </div>
<% end %>
